

# Distribution / packaging
.dist/
build/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.txt
*.whl

# Log files
*.log

# Bench-specific files
bench/logs/
bench/sites/*/logs/
bench/sites/*/pids/
bench/sites/*/public/files/ # If you don't want to track user uploaded files.
bench/sites/*/private/files/
bench/sites/*/assets/ # if you are working with a build process
bench/sites/*/site_config.json # Keep site config local
bench/sites/*/locks/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*